<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.xkdjzt.web.dao.INewsDao">
    	<parameterMap type="map" id="pageParameter">
    		<parameter property="startIndex" javaType="int"/>
    		<parameter property="itemCount" javaType="int"/>
    	</parameterMap>
    <!-- 
    	<parameterMap type="map" id="searchPara">
    		<parameter property="newsTitle" javaType="String"/>
    		<parameter property="newsAuhtor" javaType="String"/>
    		<parameter property="startDate" javaType="java.util.Date"/>
    		<parameter property="endDate" javaType="java.util.Date"/>
    		<parameter property="startIndex" javaType="int"/>
    		<parameter property="itemCount" javaType="int"/>
    	</parameterMap>
     -->
    	<insert id="addNews" parameterType="news">
    		insert into news values(default,#{newsTitle},#{newsInfo},#{newsAuthor},#{newsContent},#{illuatrationPictureSrc},#{readAmounts},#{uploadTime},#{updateTime})
    	</insert>
    	<select id="getNewsListByPage" resultType="news" parameterMap="pageParameter">
    		SELECT * FROM news ORDER BY newsId DESC LIMIT #{startIndex},#{itemCount} 
    	</select>
    	
    	<select id="getNewsById" resultType="news" parameterType="int">
    		select * from news 
    		<where>
    			newsId = #{newsId}
    		</where>
    	</select>
    	
    	<select id="getNewsCount" resultType="int">
    		select count(*) from news;
    	</select>
    	
    	<update id="updateNews" parameterType="news">
    		update news set
    		newsTitle = #{newsTitle} , 
    		newsInfo = #{newsInfo} ,
    		newsAuthor = #{newsAuthor} , 
    		newsContent = #{newsContent} ,
    		illuatrationPictureSrc = #{illuatrationPictureSrc} ,
    		updateTime = NOW()
    		<where>newsId = #{newsId}</where>
    	</update>
    	
    	<update id="addReadAmounts" parameterType="int">
    		update news set readAmounts = readAmounts + 1 where newsId = #{newsId}
    	</update>
    	
    	<select id="search" resultType="news" parameterType="map">
    		SELECT * FROM news 
    			<trim prefix="WHERE" suffixOverrides="AND">
    				<if test="newsAuthor != null and newsAuthor != '' ">
    					newsAuthor LIKE CONCAT('%',#{newsAuthor},'%') AND
    				</if>
    				<if test="newsTitle != null and newsTitle != '' ">
    					newsTitle LIKE CONCAT('%',#{newsTitle},'%') AND
    				</if>
	    			<if test="startDate != null">
	    				uploadTime &gt; #{startDate} AND
	    			</if>
					<if test="endDate != null">
	    				uploadTime &lt; #{endDate}
	    			</if>
    			</trim>
    			ORDER BY newsId DESC
    			 <if test="itemCount &gt; 0">
    			 	LIMIT #{startIndex},#{itemCount}
    			 </if>
    	</select>
    	
    	<select id="getSearchedCount" parameterType="map" resultType="int">
    		SELECT COUNT(*) FROM news 
    			<trim prefix="WHERE" suffixOverrides="AND">
    				<if test="newsAuthor != null and newsAuthor != ''">
    					newsAuthor LIKE CONCAT('%',#{newsAuthor},'%') AND
    				</if>
    				<if test="newsTitle != null and newsTitle != ''">
    					newsTitle LIKE CONCAT('%',#{newsTitle},'%') AND
    				</if>
	    			<if test="startDate != null">
	    				uploadTime &gt; #{startDate} AND
	    			</if>
					<if test="endDate != null">
	    				uploadTime &lt; #{endDate}
	    			</if>
    			</trim>
    	</select>
    	
    	<delete id="deleteNewsById" parameterType="int">
    		delete from news where newsId = #{newsId}
    	</delete>
    </mapper>