		.main_content{
			position: relative;
			top: 50px;
			min-height:600px;
			background-color: lavender;
			box-sizing: border-box;
			padding-bottom: 20px;
		}
		
		.current_title{
			padding-left:10px;
			height: 40px;
			line-height: 40px;
			font-size: 18px;
			font-weight: bold;
			color: white;
			background-color: #DEB887;

		}
		
		.text{
			padding:0px 60px;
		}
		
		.text>p{
			text-align:justify;
			line-height:30px;
			white-space: pre-wrap;
			letter-spacing: 2px;
			word-spacing: 1px;
			margin-top:40px;
			font-family: 'STsong','Microsoft YaHei';
			color: #615049;
		}